$purple: #aa55ff;
$dark_grey: #444444;

h2, .button {
  font-family: "Madimi One", sans-serif;
  color: $dark_grey;
}

input, textarea, p {
  font-family: "Noto Sans", sans-serif;
  color: black;
}

.purple {
  color: $purple;
}

a {
  .button {
    color: $dark_grey;
  }

  &:hover {
    text-decoration: none;
  }
}

.button {
  text-align: center;
  border: 2px solid $dark_grey;
  border-radius: 10px;

  &:hover {
    background-color: #ddffdd;
    cursor: pointer;
  }
}

h2, .big {
  font-size: calc(1vh + 1vw);
}

h2 {
  text-align: center;
}
