$purple: #aa55ff;
$dark_grey: #444444;
$light_grey: #ddd;
$light_green: #ddffdd;
$light_yellow: #ffffaa;

h2, .button {
  font-family: "Madimi One", sans-serif;
  color: $dark_grey;
}

input, textarea, p {
  font-family: "Noto Sans", sans-serif;
  color: black;
}

.purple {
  color: $purple;
}

a {
  .button {
    color: $dark_grey;
  }

  &:hover {
    text-decoration: none;
  }
}

.button {
  text-align: center;
  border: 2px solid $dark_grey;
  border-radius: 10px;

  &:hover {
    background-color: $light_green;
    cursor: pointer;
  }
}

h2, .big {
  font-size: calc(1vh + 1vw);
}

h2 {
  text-align: center;
}


.sentence_word {
  cursor: pointer;

  &.assigned_word {
    &.focused {
      background-color: $light_green;
    }
  }

  &.assigning_word {
    background-color: $light_yellow;

    &.focused {
      background-color: $light_green;
    }
  }

  &.unassigned_word {
    background-color: $light_grey;

    &.focused {
      background-color: $light_green;
    }
  }
}
